<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center" id="top-bar">
            <h1>Burger App</h1>
        </div>
        <div class="col-sm-6 text-center" id="task">
            <div class="row">
                {{#each burgerData}}
                    {{#unless this.devoured}}
                <div class="col-sm-9 text-center">
                    <pre>{{this.id}}. {{this.burger_name}}</pre>
                </div>
                <div class="col-sm-3 text-center">
                    <form method="POST" action="/burgers/update?_method=PUT" class="button-size">
                        <input type="hidden" name"burger_id" type="text" value={{this.id}}>
                        <br/>
                        <button type="hidden" name="burger_id" type="text" value={{this.id}}>Devour it!</button>
                    </form>
                </div>
                {{/unless}}
                {{/each}}
            </div>
        </div>
        <div class="col-sm-6 text-center" id="task">
            {{#each burgerData}}
                {{#if this.devoured}}
                    <input class="form-control" type="text" placeholder="{{this.id}}. {{this.burger_name}}" readonly>
                {{/if}}
            {{/each}}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 text-center enter_section">
            <form action="/burgers/create" method="POST">
                <input type="text" name="burger_name" class="form-control" value="" id="enter_text">
                <button type="submit" class="btn btn-primary" id="text-enter-button">SUBMIT</button>
            </form>
            <p>Enter in a burger you would like to eat!</p>
        </div>
    </div>
</div>